$body-bg-color: #f5f7fa;
$sidebar-bg-color: #1e2939;
$primary-text-color: #595959;
$sidebar-text-color: #fff;
$item-sidebar-color: #d6d8db;
$accent-color: #ff6b08;
$secondary-text-color: #a8a8a8;
$dots-color: #bebebe;
$divider-color: #000;

$font-family: Montserrat, sans-serif;
$dots-font-weight: 100;
$font-weight-norm: 400;
$secondary-font-weight: 600;
$font-weight-bolt: 700;

$duration: 250ms;
$cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
