@media print {
  body {
    background: $body-bg-color;
    padding: 0;
    font-family: $font-family;
  }

  .wrapper {
    display: flex;
    background: $sidebar-text-color;
    // max-width: 1200px;
    //   min-width: 370px;
    margin: 0 auto;
    box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.15);
  }

  img {
    display: block;
    max-width: 100%x;
    height: auto;
  }

  .sidebar {
    background: $sidebar-bg-color;
    padding-top: 30px;
    padding-bottom: 30px;
    min-width: 260px;
  }

  .info-mob {
    display: none;
  }

  //   .my-photo {
  //     max-width: 100%;
  //   }

  .contacts-container {
    margin-top: 60px;
    margin-left: 30px;
    margin-right: 30px;
  }

  .contacts-link.start {
    align-items: flex-start;
  }

  .contacts-title,
  .skills-title {
    margin-bottom: 10px;
    @include font(20px, $font-weight-bolt, 1.08);
    color: $sidebar-text-color;
  }

  .skills-title-lang {
    padding-top: 10px;
  }

  .contacts-link {
    text-decoration: none;
    @include font(14px, $font-weight-norm, 1.7);
    color: $item-sidebar-color;
    @include transit(color);
  }

  .contacts-link-type {
    margin-right: 10px;
    @include font(14px, $font-weight-bolt, 1.7);
    color: $sidebar-text-color;
    @include transit(color);
  }

  .skills-container {
    margin-top: 50px;
    margin-left: 30px;
    margin-right: 30px;
  }

  .skills-item {
    margin-left: 20px;
    @include font(14px, $font-weight-norm, 1.7);
    color: $accent-color;

    .skills-text {
      color: $item-sidebar-color;
    }
  }

  .about-me-container {
    padding-top: 35px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .info-tablet {
    margin-bottom: 20px;
  }

  .info-container {
    margin-bottom: 30px;

    .profession {
      margin-bottom: 20px;
      @include font(14px, $font-weight-bolt, 1.7);
    }

    .name {
      @include font(30px, 700, 1.7);
    }

    .personal {
      color: $secondary-text-color;
      @include font(10px, $font-weight-norm, 2);
    }

    .description {
      @include font(12px, $font-weight-norm, 1.7);
    }
  }

  .projects-container {
    margin-bottom: 10px;
  }

  .about-me-title {
    margin-bottom: 10px;
    @include font(20px, $font-weight-bolt, 1.08);
  }

  .profession-title {
    margin-top: 15px;
    margin-bottom: 5px;
    @include font(14px, $font-weight-bolt, 1.5);

    & .profession-title-list {
      margin-top: 5px;
      margin-bottom: 5px;
      list-style: none;
    }

    & .profession-title-item {
      margin-top: 0;
      margin-left: 0px;
      margin-bottom: 5px;
    }
  }

  .profession-company {
    text-decoration: none;
    color: $accent-color;

    &:hover {
      text-decoration: underline;
    }
  }

  .profession-time {
    display: block;
    color: $secondary-text-color;
    @include font(10px, $font-weight-norm, 2);
  }

  .profession-divider {
    color: $divider-color;
  }

  .profession-duties {
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .profession-duties-item,
  .profession-achievements {
    margin-left: 20px;
    color: $primary-text-color;
    @include font(14px, $font-weight-norm, 1.7);
  }

  .profession-achievements {
    margin: 0;
    margin-bottom: 20px;
    font-weight: $font-weight-bolt;
  }

  .education-company {
    margin-top: 15px;
    margin-bottom: 5px;
    color: $accent-color;
    @include font(14px, $font-weight-bolt, 1.5);
  }

  .education-duties {
    margin-top: 5px;
    margin-bottom: 5px;
    color: $primary-text-color;
    @include font(12px, $font-weight-norm, 1.7);
  }

  .dots {
    color: $dots-color;
    font-weight: 100;
  }
}
